
    <form action="/Home/AddEvent" method="post" id="edit-form">

        <div class="form-group">
            @if (ViewBag.EventId != null)
            {

                <input type="hidden" name="EventId" value="@ViewBag.EventId" />
            }

            <label for="eventName">Название</label>
            <input name="Name" type="text" class="form-control" id="eventName" placeholder="Введите название"
                   value="@if (ViewBag.EventName != null)
                       {
                           @ViewBag.EventName
                       }" />
        </div>

        <div class="form-group">
            <label for="datetimepickerStart">Начало</label>
            <div class='input-group date' id='datetimepickerStart'>
                <input name="StartDate" type='text' class="form-control" id="startEvent" value="@ViewBag.EventStartDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="checkOneDay">
            <label class="form-check-label" for="exampleCheck1">Один день</label>
        </div>
        <div class="form-group">
            <label for="datetimepickerEnd">Конец</label>
            <div class='input-group date' id='datetimepickerEnd'>
                <input id="endEvent" name="EndDate" type='text' class="form-control"
                       value="@if (ViewBag.EventEndDate != null)
                       {
                           @ViewBag.EventEndDate
                       }" />

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="descrEvent">Описание</label>
            <textarea name="Description" type="text" class="form-control" id="descrEvent" placeholder="Введите описание">
                  @if (ViewBag.EventDescr != null)
                       {
                           @ViewBag.EventDescr
                       }</textarea>
        </div>

        <button type="submit" class="btn btn-success">Добавить</button>
    </form>


           

    <script type="text/javascript">
    $(function () {
        $("#edit-form").submit(function (e) {
            e.preventDefault();

            @if(ViewBag.IsEditForm != null && ViewBag.IsEditForm == true)
            {
                <Text> EditEventEndEditCalendar($(this));</Text>
            }
            else
            {
               <Text> AddEventEndEditCalendar($(this));</Text>
            }

        });


        $('#datetimepickerStart').datetimepicker(
            { format : 'L'  }
        );
        $('#datetimepickerEnd').datetimepicker({
                       format : 'L',
            useCurrent: false
        });



        $("#datetimepickerStart").on("dp.change", function (e) {
            $('#datetimepickerEnd').data("DateTimePicker").minDate(e.date);
                       });
        $("#datetimepickerEnd").on("dp.change", function (e) {
            $('#datetimepickerStart').data("DateTimePicker").maxDate(e.date);
                       });
    });


    </script>
