@{

}
@section styles{
    @Styles.Render("~/Content/fullcalendar.css")
    @Styles.Render("~/Content/main-page.css")
    @Styles.Render("~/Content/event-form.css")
    @Styles.Render("~/Content/animate.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")

}
@section scripts{

    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/fullcalendar/fullcalendar.js")
    @Scripts.Render("~/Scripts/fullcalendar/locale/ru.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")
    @Scripts.Render("~/Scripts/main-page.js")
}


<div class="row " style="margin:40px 0px;">
    <div class="col-md-8">
        <div id="calendar" class="animated fadeInLeftBig"></div>
    </div>
    <div class="col-md-4">
        <div id="event-form">
            <span style="font-size:24px; font-weight:100  !important">
                <small style="color:#b8b8b8">Выбирете день или событие на календаре.</small>
            </span>
            @*<div class="loader"></div>*@
        </div>

    </div>
</div>
