@{
   
}
@section styles{
    @Styles.Render("~/Content/fullcalendar.css")
    @Styles.Render("~/Content/calendar.css")
    @Styles.Render("~/Content/animate.css")
}
@section scripts{

    @Scripts.Render("~/Scripts/moment.js")

    @Scripts.Render("~/Scripts/fullcalendar.js")
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/locale/ru.js")

}


<div class="row" style="margin:40px;">
    <div class="col-md-8">
        <div id="calendar"></div>
    </div>
    <div class="col-md-4">
        <div id="event-form" style="border:1px solid; height:500px; position:inherit">
           
        </div>

    </div>
</div>
