<div class="animated fadeIn">

    <div style="height:70px; width:70px; background-color:red; float:right"></div>

    <h3>@ViewBag.Event.Name</h3>
    <p style="font-size:11px; color:gray;">
        ID: @ViewBag.Event.EventId
        Создал: @ViewBag.CreatorUserName
    </p>
    <p>
        @ViewBag.Event.StartDate.ToString("dd.MM.yyyy H:mm") -
        @if (ViewBag.Event.StartDate.ToString("dd.MM.yyyy") != ViewBag.Event.EndDate.ToString("dd.MM.yyyy"))
        {
            @ViewBag.Event.EndDate.ToString("dd.MM.yyyy")
        }

        @ViewBag.Event.EndDate.ToString("H:mm")
    </p>
    @if (ViewBag.Event.Latitude != null && ViewBag.Event.Longitude != null)
    {
        <p id="locationInfoString">
            Местоположение:

            <script>
                ymaps.geocode([@ViewBag.Event.Latitude, @ViewBag.Event.Longitude]).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    $('#locationInfoString').append(firstGeoObject.getAddressLine());
                });
            </script>
        </p>
    }

    <p>@ViewBag.Event.Description</p>

    @if (ViewBag.InvitedUserNames.Count > 0)
    {
        <h5>Приглашенные пользователи:</h5>
        <ul>
            @foreach (string username in ViewBag.InvitedUserNames)
            {
                <li>@username</li>
            }
        </ul>
    }

    <hr>
    @if (ViewBag.CurrentUser != null)
    {
        <button type="button" class="btn btn-primary"
                onclick="GetEditEventForm(@ViewBag.Event.EventId)">
            Изменить
        </button>
    }
    <button type="button" class="btn btn-danger" style="float:right;margin-right:30px;"
            onclick="EventDelete(@ViewBag.Event.EventId);
                GetListEventForm('@ViewBag.Event.StartDate')">
        Удалить
    </button>
</div>