@model IEnumerable<EventsPlanner.Models.Message>

@{
    ViewBag.Title = "Event";
}

<h2>Event</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageText)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageText)
        </td>
    </tr>
}

</table>
