
@model IEnumerable<EventsPlanner.Models.Message>
@using Microsoft.AspNet.Identity.Owin;


@{
    //ViewBag.Title = "День рождения";
}

<style>
    table{width:100%}
    thead, tbody {
        display: block;
        width: 100%
    }

    thead {
        background-color: aliceblue;
    }

    tbody {
        height: 400px; /* Just for the demo          */
        overflow-y: auto; /* Trigger vertical scroll    */
        overflow-x: hidden; /* Hide the horizontal scroll */
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:100px">
                        Отправил
                    </th>
                    <th style="width:170px">
                        Время
                    </th>
                    <th>
                        Сообщения
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:100px">
                            @ViewBag.Users[item.UserId]
                        </td>
                        <td style="width:170px">
                            @item.MessageDateTime
                        </td>
                        <td>
                            @item.MessageText
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        var block = document.getElementsByTagName("tbody")[0];
        block.scrollTop = block.scrollHeight;
    </script>
    <div class="col-md-2">
        <h4>Участники чата</h4>
        <ul>
            @if (ViewBag.Users != null)
            {
                foreach (var i in ViewBag.Users.Keys)
                {

                    <li>@ViewBag.Users[i]</li>
                }
            }
        </ul>
    </div>
</div>
<div class="row">
    <form action="/Chat/SendMessage" method="post">
        <div class="col-md-10">
            <textarea style="max-width:1300px;width:100%" name="TextMessage"></textarea>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Отправить" style="width:100%" />
        </div>
        <input type="hidden" name="EventId" value="@ViewBag.EventId" />
    </form>
</div>
